.presets-list {
    display: grid;
    grid-template-columns: auto auto 100px auto auto ;
    grid-template-rows: repeat(25, 24px);
    justify-content: start;
    grid-column-gap: 16px;
    /*grid-row-gap: 8px;*/
    align-items: center;
}

.presets-list .placeholder {
    font-style: italic;
    color: #aaa;
}

.preset-line {
    margin: 10px 0;
}
