.overview {
    font-size: 0.85rem;
}

.overview h3 {
    margin-top: 24px;
}

.overview-preset:first-of-type h3 {
    margin-top: 0.25em;
}

.overview-controls {
    /*margin-bottom: 24px;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*grid-template-rows: repeat(25, 24px);*/
    grid-gap: 1px;
    border: 1px solid #aaa;
    background-color: #aaa;
    /*justify-content: start;*/
    /*grid-column-gap: 16px;*/
    /*!*grid-row-gap: 8px;*!*/
    /*align-items: center;*/
}


.overview-controls > div {
    background-color: #fff;
    padding: 4px 6px;
}

.control-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control-name {
    font-weight: bold;
}

.overview-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overview-step-color {
    display: flex;
    flex-direction: row;
}

.overview-step-color > div {
    border: 1px solid #aaa;
    flex-grow: 1;
    min-height: 8px;
}

.overview-midi-settings {
    margin-top: 0.25rem;
    border: 1px solid #aaa;
    padding: 4px 6px;
}

.overview-midi {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.overview-message > span {
    margin-left: 6px;
}

.overview-midi .msg-midi-channel {
    margin-left: 0.5rem;
}