.overview {
    /*font-size: 0.85rem;*/
}

/*
.overview h3 {
    margin-top: 25px;
    font-size: 1.5rem;
    background-color: #eceaf5;
    border-top: 1px solid #bbb;
    padding-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
}
*/
h3.preset-title {
    /*margin-top: 25px;*/
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: #eceaf5;
    border-top: 1px solid #bbb;
    padding-left: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
}

.overview-preset:first-of-type h3 {
    /*margin-top: 0.25em;*/
}

.overview-preset {
    margin-bottom: 30px;
}

.overview-controls {
    /*margin-bottom: 24px;*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /*grid-template-rows: repeat(25, 24px);*/
    grid-gap: 1px;
    /*border: 1px solid #aaa;*/
    /*background-color: #aaa;*/
    /*justify-content: start;*/
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    /*align-items: center;*/
}

.overview-controls .stompswitch {
    background-color: #f4f4f4;
}

.overview-controls > div {
    /*background-color: #fff;*/
    /*margin: 5px;*/
    padding: 5px;
}

.overview-control {
    border: 1px solid #ccc;
    color: #333;
}

.overview-control:hover {
    cursor: pointer;
    background-color: lightblue;
}

.control-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control-name {
    font-weight: bold;
}

.overview-midi-settings {
    margin-top: 15px;
    border: 1px solid #aaa;
    padding: 4px 6px;
}

.overview-midi {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.overview-message {
    display: flex;
}

.overview-message-type,
.overview-message-data {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #6a6a96;
}

.overview-message-type {
    /*display: inline;*/
}

.overview-message-data {
    /*margin-left: 10px;*/
}

.overview-message-data > span {
    margin-left: 5px;
}

.overview-message > span {
    /*margin-left: 6px;*/
}

.overview-message-ch-colors {
    display: flex;
    justify-content: space-between;
}

.overview-midi .msg-midi-channel {
    margin-left: 0.5rem;
}

.overview-step {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 2px;
}

.overview-step:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.overview-step-color {
    display: flex;
    flex-direction: row;
}

.overview-step-color > div {
    /*margin: 5px 10px 5px 0;*/
    /*min-width: 15px;*/
    /*max-width: 25px;*/
    width: 14px;
    border: 1px solid #aaa;
    margin: 2px 0;
    /*flex-grow: 1;*/
    /*min-height: 12px;*/
}

.overview-step-color > div:first-child {
    margin-right: 5px;
}

.overview-step-color div.color-0 {
    border-style: dashed;
}

.detail-view .overview-controls {
    grid-column-gap: 7px;
    grid-row-gap: 7px;  /* 15px minus 2x 4px border */
}

.detail-view .overview-control {
    /*border: 1px solid blue;*/
    border: 4px solid white;
    color: #333;
    background-color: #ede9ff;
}

.detail-view .overview-control.selected {
    /*border: 1px solid blue;*/
    /*background-color: blue!important;       !* present selected color overrides preset hover color *!*/
    border-color: blue;
    color: #000;
}

.detail-view .overview-message-type {
    color: #555;
    /*font-weight: normal;*/
    /*font-family: inherit;*/
}

.detail-view .overview-control.selected .overview-message-type {
    color: #000;
    /*font-weight: normal;*/
    /*font-family: inherit;*/
}

.detail-view .overview-step {
    border-bottom-color: #8181ff;
}