
.patch-content {
    display: grid;
    grid: repeat(4, 1fr) / repeat(6, auto);
    grid-gap: 6px;
    justify-content: start;
    margin: 10px 30px 10px 0;
}

.patch-content > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px 4px 8px;
}

.patch-content > div > div {
    margin: 0 5px;
}

.placeholder {
    font-style: italic;
    color: #aaa;
}

/*
.patch-actions {
    margin-top: 24px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 12px;
    justify-content: start;
    align-items: center;

}
*/

.status {
    margin: 24px 0;
    color: #555;
}

.status.error {
    color: red;
}

.status.info {
}
