
/*h2 {*/
    /*margin-top: 0;*/
    /*margin-bottom: 0.25rem*/
/*}*/

.selectors {
    display: flex;
    flex-direction: row;
}

.message-to-send {
    margin-top: 10px;
}

.actions {
    margin-top: 20px;
}


.debug {
    margin: 20px 0;
    border-top: 1px solid #eee;
    padding: 10px 0 0 0;
    color: #777;
}

.debug pre {
    font-size: 0.85rem;
}
