
h2 {
    margin-top: 0;
    margin-bottom: 0.25rem
}

.selectors {
    display: flex;
    flex-direction: row;
}

.message-to-send {
    margin-top: 10px;
}

.actions {
    margin-top: 20px;
}

div.status {
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.debug {
    margin: 20px 0;
    border-top: 1px solid #eee;
    padding: 10px 10px 0 10px;
    color: #777;
}

.debug pre {
    font-size: 0.85rem;
}
