
.send-message {
    margin: 0.5rem 0;
}

.send-message input {

}

.message-name {
    margin-left: 2rem;
}

.custom-message {
    margin: 5px 0 0 60px;
}

button {
    margin-right: 1rem;
    padding: 5px 10px;
}
