
.chords {
    margin: 10px 0;
    display: grid;
    grid: repeat(3, 1fr) / repeat(6, auto);
    justify-content: start;
    grid-column-gap: 4px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

.chords > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin-right: 4px;
    width: 50px;
    cursor: pointer;
    border: 1px solid #eeeeee;
}

.chords > div:hover {
    background-color: lightblue;
    border: 1px solid #aaa;
}

.chords > div.selected {
    background-color: orange;       /* present selected color overrides preset hover color */
    border: 1px solid red;
}

.chords > div.no-chord {
    background-color: transparent;
}
