.control-editor {

}

.steps select, .steps input {
    min-width: 64px;
}

.steps input {
    width: 64px;
}

.steps {
    display: grid;
    grid: repeat(6, 1fr) / repeat(10, auto);
    justify-content: start;
    grid-gap: 6px 18px;
}

.steps > div {}

.steps input[type='text'] {
    padding: 0 4px;
    text-align: right;
}

.step-row-header {
    font-weight: bold;
}

.step-col-header {
    align-self: center;
    /*padding-left: 7px;*/
    font-weight: bold;
}

.data-help {
    font-size: 0.66rem;
    text-align: right;
    color: #665;
    margin-top: 1px;
}

select.notes option {
    text-align: justify-all;
}