.dump {
    margin-top: 1rem;
    /*font-family: "Andale Mono", AndaleMono, "Consolas", monospace;*/
    /*font-size: 0.8rem;*/
    white-space: pre;
}

.data {
    margin: 0.5rem 0 1rem;
    font-family: Courier New, Courier, monospace;
}

.dump-preset-name {
    margin: 1rem 0;
}

.dump-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dump-control table {
    border-collapse: collapse;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.dump-control td {
    border: 1px solid #aaa;
    padding: 6px 6px 2px 6px;
}

.dump-control td.name {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.5rem;
}
