.footer {
    /*margin-top: 20px;*/
    padding: 8px 0;
    /*background-color: #333;*/
    border-top: 1px solid #999;
    width: 100%;
    /*text-align: center;*/
    color: #999;
    font-size: 0.75rem;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-grow: 1;*/
}

.footer .gh {
    /*flex-grow: 10;*/
    float: right;
    text-align: right;
    display: flex;
    align-items: center;
    /*opacity: 0.5;*/
    /*color: #222;*/
}

.footer a {
    fill: #7777ff;
    color: #7777ff;
}

.footer svg {
    margin: 0 0 0 10px;
    /*fill: blue;*/
}

