.midi-ports {
    display: flex;
    align-items: baseline;
    margin: 15px 0 10px 0;
}

.midi-port-label {
}

.midi-ports select {
    margin: 0 20px 0 5px;
}

.no-midi {
    margin: 0;
    /*border: 8px solid #e0e0e0;*/
    padding: 4px;
    background-color: #fff900;
    color: #000;
    text-align: center;
}
