.selectors {
    margin: 10px 0;
    /*justify-content: start;*/
    /*justify-items: stretch;*/
    /*align-items: stretch;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, auto);
    justify-content: start;
}

.selectors > div {
    display: flex;
    margin-right: 8px;
    margin-bottom: 8px;
}

.selectors > div > div {
    background-color: #eeeeee;
    margin-right: 4px;
    padding: 8px 0;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eeeeee;
}

.selectors > div > div:hover {
    background-color: lightblue;
}

.selectors > div > div.selected {
    background-color: orange;       /* present selected color overrides preset hover color */
    border: 1px solid red;
}

/* GRID
.selectors {
    margin: 10px 0;
    display: grid;
    grid: repeat(4, 50px) / repeat(6, 50px);
    grid-column-gap: 4px;
    grid-row-gap: 10px;
    justify-content: start;
    justify-items: stretch;
    align-items: stretch;
}

.selectors > div {
    background-color: #eeeeee;
    padding: 4px;
}

.selectors > div.selected {
    background-color: orange;
}

.selectors > div:hover {
    background-color: lightblue;
}
*/
