.preset-selectors {
    display: grid;
    grid: repeat(5, 1fr) / repeat(6, auto);
    grid-gap: 6px;
    justify-content: start;
    margin: 6px 30px 10px 0;
}

/*
.preset-selectors > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
}
*/

.preset-selectors > div.force-read {
    grid-column: span 3;
    width: auto;
    justify-self: right;
    user-select: none;
}

.force-read input {
    margin-right: 10px;
}

.preset-selectors > div.clear-selection {
    grid-column: span 2;
    width: auto;
    justify-self: left;
    user-select: none;
}

.clear-selection button {
    margin: 0;
    padding: 0 10px;
}

.selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    padding: 5px 8px;
    cursor: pointer;
}

.selector {
    /*background-color: #eeeeff;*/
    /*border: 1px solid #bbbbff;*/
    background-color: #eeeeee;
    /*background-color: #c8e6c9;*/
    /*border: 1px solid #cccccc;*/
    /*color: #555;*/
    color: #000;
}

.blue-selectors .selector {
    background-color: #ede9ff;
}

.selector:hover {
    background-color: lightblue;
    /*border: 1px solid #aaa;*/
}

.blue-selectors .selector:hover {
    background-color: blue;
    color: white;
    border: 1px solid #aaa;
}

.selector.loaded {
    color: #000;
    /*background-color: #eceaf5;*/
    /*background-color: #c8e6c9;*/
    background-color: #d1ebd2;
}

.selector.selected {
    /*background-color: green!important;       !* present selected color overrides preset hover color *!*/
    background-color: #008000!important;       /* present selected color overrides preset hover color */
    /*border: 1px solid #008000;*/
    color: white;
}

.blue-selectors .selector.selected {
    background-color: blue!important;       /* present selected color overrides preset hover color */
    border: 1px solid darkblue;
    color: white;
}

.selector .preset-id {
    width: 30px;
    text-align: left;
}

.preset-name-editor {
    margin-top: 10px;
}

.preset-name-editor label {
    font-weight: bold;
}

.preset-name-editor input {
    margin-right: 10px;
    padding-left: 5px;
}

.d6info {
    line-height: 125%;
}

.dismiss {
    display: inline;
    margin-left: 5px;
    color: blue;
    cursor: pointer;
}