.preset-selectors {
    display: grid;
    grid: repeat(4, 1fr) / repeat(7, auto);
    grid-gap: 6px;
    justify-content: start;
    margin: 10px 20px 10px 0;
}

.preset-selectors > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    padding: 4px 0;
    cursor: pointer;
}
