.selector {
    /*background-color: #eeeeff;*/
    /*border: 1px solid #bbbbff;*/
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    color: #555;
}

.selector:hover {
    background-color: lightblue;
    border: 1px solid #aaa;
}

.selector.loaded {
    color: #000;
}

.selector.selected {
    background-color: green;       /* present selected color overrides preset hover color */
    border: 1px solid green;
    color: white;
}

.selector .preset-id {
    width: 30px;
    text-align: left;
}

.selector .preset-name {

}
