.selector {
    /*background-color: #eeeeff;*/
    /*border: 1px solid #bbbbff;*/
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
}

.selector:hover {
    background-color: lightblue;
    border: 1px solid #aaa;
}

.selector.selected {
    background-color: green;       /* present selected color overrides preset hover color */
    border: 1px solid green;
    color: white;
}

.selector .preset-id {
    width: 30px;
    text-align: left;
}

.selector .preset-name {

}
