h1 {
    font-size: 2rem;
    margin: 10px 0;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.4;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "kern";
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -webkit-font-variant-ligatures: common-ligatures;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.app {
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 2px solid #ddd;
    /*margin: 10px 0 20px 0;*/
    /*margin: 10px 0 0 0;*/
    padding: 0;
    padding-left: 4px;
}

.header-link {
    margin: 10px 1rem 0 0;
    padding: 1px 6px 2px 6px;
}

.header-link a {
    font-size: 1.5rem;
    text-decoration: none;
    color: blue;
}

.header-link.active {
    background-color: #ddd;
}

.header-link.active a {
    color: #000;
    /*font-weight: bold;*/
}

.spacer {
    flex-grow: 10;
}

.busy {
    align-self: flex-start;
    background-color: orangered;
    color: white;
    /*padding: 0px 24px;*/
    /*margin-right: 6px;*/

    margin: 0 0 0 0;
    padding: 8px 1.5rem 8px 1.5rem;

    font-size: 1.5rem;

}

.wrapper {
    display: flex;
    flex-direction: row;
}

.content {
    padding: 10px 10px 0 10px;
    flex-grow: 2;
}

.help {
    float: right;
    flex-grow: 1;
    width: 200px;
    /*margin-left: 20px;*/
    border-left: 1px solid #aaa;
    padding: 10px;
    color: #666;
}

.content-row {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
}

.background {
    position: absolute;
    top: 10px;
    /*left: 0;*/
    /*bottom: 0;*/
    right: 10px;
    /*z-index: -1;*/
    overflow: hidden;
    font-size: 3rem;
    color: #fff;
}

.content-row-header {
    width: 50px;
    /*writing-mode: vertical-rl;*/
    /*transform: rotate(-180deg);*/
    font-size: 3rem;
    color: #fff;
}

.content-row-content {
    flex-grow: 10;
}

.row-middle-aligned {
    align-self: center;
}

.step-1 {
    /*background-color: #E8E8E8;*/
    /*background-color: #E8E8E8;*/
    background-color: #f0f0f0;
}

.step-2 {
    /*background-color: #FDE0E1;*/
    /*background-color: #E0E0E0;*/
    background-color: #f0e8e8;
}

.step-3 {
    /*background-color: #FCC2C5;*/
    /*background-color: #D8D8D8;*/
    background-color: #f0e0e0;
}

.step-4 {
    /*background-color: #FBA5A9;*/
    /*background-color: #D0D0D0;*/
    background-color: #f0dada;
}

.all-ports {
    display: flex;
    flex-direction: row;
}

.all-ports > div {
    margin-right: 10px;
}

.sub-header {
    display: flex;
    flex-direction: row;
}

.sub-header h2 {
    margin-right: 1rem;
    text-align: center;
}

.code {
    /*font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;*/
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 0.875rem;
}

.light {
    color: #999;
}

.warning {
    color: red;
}


.drop-zone {
    /*margin: 8px 0 0 0;*/
    padding: 20px 10px;
    border: 1px solid #ddddf0;
    background-color: #f4f4ff;
    text-align: center;
    /*width: 600px;*/
}
