
.italic {
    font-style: italic;
}

.bold,
.strong {
    font-weight: bold;
}

.fluo {
    background-color: #ffff30;
}

.dim {
    color: #999;
}

.small {
    font-size: 0.75rem;
    color: #777;
}

h1 {
    font-size: 1.75rem;
    margin: 8px 0;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0.25em;
}

h3 {
    font-size: 1.0rem;
    line-height: 1.5;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #333;
}

.app {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #333;
    border: none;
}

.header-app-name {
    float: right;
    margin: 0 16px;
    font-style: italic;
    color: #c7c7c7;
}

.header-link {
    padding: 14px 0;
    margin: 0;
}

.header-link:hover {
    background-color: #000;
}

.header-link a {
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
    color: #fff;
}

.header-link.active {
    background-color: #0030ff;
}

.header-link.active a {
    color: #fff;
}

.spacer {
    flex-grow: 10;
}

/*.busy {*/
    /*flex-grow: 10;*/
    /*align-self: center;*/
    /*background-color: orangered;*/
    /*color: white;*/
    /*margin: 0 48px;*/
    /*!*padding: 2px 1.5rem 2px 1.5rem;*!*/
    /*padding: 3px 8px;*/
    /*text-align: center;*/
    /*font-size: 1.15rem;*/
/*}*/

.home .error {
    margin: 16px;
    color: red;
    font-weight: bold;
}

.busy {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    padding-top: 30vh;
    text-align: center;
    /*background-color: orangered;*/
    background-color: #777777;
    opacity: 0.5;
    color: white;
    font-size: 8rem;
}

.wrapper {
    /*flex-grow: 10;*/
    /*display: flex;*/
    /*flex-direction: row;*/
}

.subheader {
    background-color: #e0e0e0;
    padding-bottom: 1px;
}

.subheader > div {
    padding: 9px 14px 7px 8px;
}

.download-upload {
    background-color: white;
    padding-left: 0!important;
}

.download-upload > button {
    margin-right: 16px;
}

.download-upload {
    background-color: white;
    padding-left: 0!important;
}

.download-upload > button {
    margin-right: 16px;
}

.content {
    min-height: 50vh;
    /*flex-grow: 2;*/
    /*background-color: #ffffff;*/
    /*width: calc(100vw - 200px);*/
}

/*.full-width {*/
    /*width: 100%;*/
/*}*/

.right-column {
    float: right;
    width: 400px;
    background-color: #eaeaea;
    box-shadow: inset 2px 0px 5px 0px rgba(120,120,120,0.75);
    padding: 16px;
    color: #333333;
}

.content-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.background {
    position: absolute;
    top: 8px;
    right: 8px;
    overflow: hidden;
    font-size: 3rem;
    color: #fff;
}

.content h2 {
    /*margin-bottom: 0.25em;*/
    /*padding: 16px 8px 0 16px;*/
    /*margin: 8px 0 8px 0;*/
    margin-top: 12px;
    padding-bottom: 2px;
    border-bottom: 1px solid #777;
    font-size: 1rem;
    font-weight: bold;
}

.content-row-header {
    width: 50px;
    font-size: 3rem;
    color: #fff;
}

.content-row-content {
    /*flex-grow: 10;*/
    /*border-top: 1px solid #999;*/
    /*background: linear-gradient(160deg, #ffffff 33%,#e5e5e5 100%);*/
    padding: 8px 0;
}

.content-row-content.first {
    border-top: none;
}

.instructions {
    float:right;
    max-width: 25%;
    margin-top: 8px;
    /*padding: 16px;*/
    /*background-color: #ccf6e4;*/
    border-left: 8px solid #fff;
    /*color: darkolivegreen;*/
    /*font-style: italic;*/
    /*font-size: 0.85rem;*/
    /*line-height: 130%;*/
    display: flex;
    flex-direction: column;
}

.instruction {
    padding: 16px;
    background-color: #ccf6e4;
    color: darkolivegreen;
    font-style: italic;
    font-size: 0.85rem;
    line-height: 130%;
    margin-bottom: 12px;
}

.please {
    margin:24px 0;
    color: darkolivegreen;
}

.space-below {
    margin-bottom: 16px;
}

.space-left {
    margin-left: 16px;
}

.space-right {
    margin-right: 16px;
}

.no-grad {
    background: #fff;
}

.row-middle-aligned {
    align-self: center;
}

.no-midi {
    margin: 0;
    border: 8px solid #e0e0e0;
    padding: 4px;
    background-color: #fff900;
    color: #000;
    text-align: center;
}

.all-ports {
    display: flex;
    flex-direction: row;
}

.all-ports > div {
    margin-right: 8px;
}

/*.sub-header {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

/*.sub-header h2 {*/
    /*margin-right: 1rem;*/
    /*text-align: center;*/
/*}*/


.sorry {
    margin: 8px 0;
    padding: 8px;
    background-color: orange;
    border: 1px solid red;
}

.code {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 0.875rem;
}

.light {
    color: #999;
}

.warning {
    color: red;
}

.drop-zone {
    padding: 16px 8px;
    border: 1px solid #ddddf0;
    background-color: #f4f4ff;
    text-align: center;
}

.download {
}

.download button {
    padding: 5px 10px;
    font-size: 0.85rem;
}

.ports {
    display: flex;
    flex-direction: row;
}

.ports-grid {
    display: flex;
    flex-direction: row;
}

.grid-header {
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 4px;
}

/*.ports-grid > div {*/
    /*padding-right: 16px;*/
/*}*/

.port {
    border: 1px solid #999;
    border-radius: 6px;
    margin-right: 12px;
    padding: 5px 4px 4px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    font-size: 0.85rem;
}

.port-enabled {
    box-shadow: 0px 0px 8px 3px orange;
}

.port > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.port-type {
    margin-left: 8px;
    margin-right: 4px;
    font-weight: bold;
}
*/

.port-name {
    font-weight: bold;
    /*margin-right: 4px;*/
}

/*
.port.input.enabled {
    background-color: #A1EEA1;
    border: 1px solid #52CA52;
}
*/

/*
.port.input.enabled .port-type {
    background-color: #52CA52;
}

.port.output.enabled {
    background-color: #A1EEA1;
    border: 1px solid #52CA52;
}

.port.output.enabled .port-type {
    background-color: #52CA52;
}
*/

.port-switch {
    margin-left: 4px;
}

.port-usage {
    cursor: pointer;
    font-size: 0.85rem;
    user-select: none;
    margin-left: 8px;
}

.port-manufacturer {
}

.port-manufacturer.unknown {
    font-style: italic;
}

.react-switch {
    vertical-align: middle;
}

.preset-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.preset-buttons button {
    display: block;
    margin-bottom: 12px;
    margin-right: 16px;
}

/*.preset-buttons button#clear-data {*/
    /*align-self: flex-end;*/
/*}*/

select, input {
    font-size: 0.875rem
}

button {
    /*background-color: #efefef;*/
    /*background:linear-gradient(to bottom, #efefef 5%, #cfcfcf 100%);*/
    /*border-radius: 4px;*/
    /*border: 1px solid #999;*/
    color: #000;
    /*font-size: 13px;*/
    /*padding: 4px 16px;*/
    padding: 4px 12px;
    font-size: 0.85rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
button.small {
    padding: 2px 8px;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
}
*/

button.disabled, button.disabled:hover {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #999;
}

button:hover {
}

button.update {
    background: linear-gradient(to bottom, #ffdd99, #ffaa00);
    border: 1px solid #999;
    padding: 4px 8px;
    font-size: 1rem;
    color: #000;
}

button.update:hover {
    background: linear-gradient(to bottom, #ffaa00, #ffdd99);
    border: 1px solid #999;
    padding: 4px 8px;
    font-size: 1rem;
    color: #000;
}

.right-align {
    text-align: right;
}

.debug {
    color: #777;
}

.debug pre {
    font-size: 0.85rem;
}


@media print {

    @page {
        size: landscape;
        /*margin: 15mm;*/
    }

    body {
        /*margin: 0 10mm;*/
        /*font-size: 8pt;*/
    }

    .header,
    .subheader,
    .instructions,
    .preset-buttons {
        display: none;
    }

    /*.overview-preset,*/
    .overview-controls {
        page-break-inside: avoid;
    }

}
