.App {
    padding: 0 10px;
}

.App-header {
}

.App-link {
}


.drop-zone {
    margin: 8px 0 0 0;
    padding: 20px;
    border: 1px solid #aaa;
    background-color: #eee;
}

.all-ports {
    display: flex;
    flex-direction: row;
}

.all-ports > div {
    margin-right: 10px;
}

.busy {
    float: right;
    background-color: orangered;
    color: white;
    padding: 6px 12px;
}
