h1 {
    margin: 10px 0;
}

h2 {
    margin: 0;
}

.app {
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: blue;
    margin: 0 0 0 1rem;
}

.all-ports {
    display: flex;
    flex-direction: row;
}

.all-ports > div {
    margin-right: 10px;
}

.spacer {
    flex-grow: 10;
}

.busy {
    background-color: orangered;
    color: white;
    padding: 8px 24px;
    margin-right: 6px;
    font-size: 2rem;
}
.sub-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.sub-header h2 {
    /*color: #999;*/
    margin-right: 1rem;
    text-align: center;
}

.main {
    margin: 2rem 0 0 0;
    border-top: 1px solid #aaa;
}
